<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>组件 v-model</title>
    <script type="module">
        import { ref, createApp, watchEffect, watch } from 'https://unpkg.com/vue@3/dist/vue.esm-browser.js'

        createApp({
            setup() {
                const message = ref("hello, Vue3!");
                const useranme = ref("jack");
                const titleName = ref("HELLO, Vue3!");
                const firstname = ref("jack");
                const lastname = ref("chen");

                watchEffect(() => {
                    console.log("message: " + message.value);
                });
                watchEffect(() => {
                    console.log("title: " + titleName.value);
                });

                // 节流函数
                function debounce(fun, delay) {
                    let timer;
                    return function (...args) {
                        clearTimeout(timer);
                        timer = setTimeout(() => fun.apply(this, args), delay);
                    }
                }

                watch(() => ({firstName: firstname.value, lastName: lastname.value}), debounce((newValue) => {
                    console.log("first name: " + newValue.firstName, ", lastname: ", newValue.lastName);
                }, 500), {flush: 'post'});

                return {
                    message,
                    useranme,
                    titleName,
                    firstname,
                    lastname,
                }
            }
        }).component('my-input', {
            props: ['modelValue'],
            emits: ['update:modelValue'],
            template: "#my-input-template"
        }).component('custom-input', {
            props: ['modelValue'],
            emits: ['update:modelValue'],
            computed: {
                value: {
                    get() {
                        console.log("get: " + this.modelValue);
                        return this.modelValue;
                    },
                    set(value) {
                        this.$emit('update:modelValue', value);
                    }
                }
            },
            template: "#custom-input-template"
        }).component('custom-input-param', {
            props: ['title'],
            emits: ['update:title'],
            template: "#custom-input-param-template"
        }).component('multiple-bind', {
            props: ['firstName', 'lastName'],
            emits: ['update:firstName', 'update:lastName'],
            template: "#multiple-bind-template"
        }).component('custom-modifier', {
            props: {
                modelValue: String,
                modelModifiers: {
                    default: () => ({})
                },
            },
            emits: ['update:modelValue'],
            created() {
                console.log("modelModifiers: ", this.modelModifiers);
            },
            methods: {
                emitValue(e) {
                    let value = e.target.value;
                    if (this.modelModifiers.uppercase) {
                        value = value.toUpperCase();
                    }

                    this.$emit('update:modelValue', value);
                }
            },
            template: "#custom-modifier-template"
        }).component('custom-modifier-args', {
            props: ['title', 'titleModifiers'],
            emits: ['update:title'],
            created() {
                console.log("titleModifiers: ", this.titleModifiers);
            },
            methods: {
                emitValue(e) {
                    let value = e.target.value;
                    if (this.titleModifiers.lowercase) {
                        value = value.toLowerCase();
                    }

                    this.$emit('update:title', value);
                }
            },
            template: "#custom-modifier-args-template"
        }).mount("body");
    </script>
</head>

<template id="my-input-template">
    <input type="text" :value="modelValue" @input="$emit('update:modelValue', $event.target.value)"/>
</template>

<template id="custom-input-template">
    <input type="text" v-model="value" />
</template>

<template id="custom-input-param-template">
    <input type="text" :value="title" @input="$emit('update:title', $event.target.value)" />
</template>

<template id="multiple-bind-template">
    <input type="text" :value="firstName" @input="$emit('update:firstName', $event.target.value)" />
    <input type="text" :value="lastName" @input="$emit('update:lastName', $event.target.value)" />
</template>

<template id="custom-modifier-template">
    <input type="text" :value="modelValue" @input="emitValue" />
</template>

<template id="custom-modifier-args-template">
    <input type="text" :value="title" @input="emitValue" />
</template>

<body>
    <h3>v-model 自定义输入框</h3>
    <my-input v-model="message"></my-input><br/>
    <custom-input v-model="useranme"></custom-input>

    <h3>v-model 参数</h3>
    {{ titleName  }}
    <custom-input-param v-model:title="titleName"></custom-input-param>

    <h3>多个v-model绑定</h3>
    <multiple-bind v-model:first-name="firstname" v-model:last-name="lastname"></multiple-bind>
    <div>firstName: {{ firstname }}, lastName: {{ lastname }}</div>

    <h3>v-model 修饰符</h3>
    <custom-modifier v-model.uppercase="titleName"></custom-modifier><br/>
    <custom-modifier-args v-model:title.lowercase="titleName"></custom-modifier-args>
    <div>titleName: {{ titleName }}</div>
</body>
</html>