<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>依赖注入</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script type="module">
        const {createApp, ref, computed} = Vue;

        const injectName = Symbol();
        const injectAge = Symbol();

        createApp({
            setup() {

            }
        }).provide("global", { // 应用级别，全局访问
            app: "provide-inject",
            author: "JKoi",
            version: "v2.22"
        }).component('provide-hallo', {
            provide: {
                message: "hello world"
            },
            template: "#provide-hallo-template"
        }).component('provide-hallo-inject', {
            inject: ["message"],
            template: "#provide-hallo-inject-template"
        }).component('provide-data', {
            data() {
                return {
                    message: "hello provide",
                    title: "OMG~!"
                }
            },
            provide() {
                return {
                    // this 可以访问到 data  中的属性，仅限 provide是函数的情况
                    message: this.message,
                    titleName: this.title
                }
            },
            template: "#provide-data-template"
        }).component('provide-data-inject', {
            inject: ["message", "titleName", "global"],
            created() {
                console.log("provide-data-inject", this.message, this.titleName);
                console.log("provide-data-inject", this.global.app, this.global.author);
            },
            template: "#provide-data-inject-template"
        }).component('provide-data-inject-alias', {
            inject: {
                message: "message",
                // 本地 别名
                injectTitle: {
                    // 注入来源 名称
                    from: "titleName"
                },
                global: {
                    default: "global"
                },
                user: {
                    default: () => ({name: "user", age: 18})
                }
            },
            created() {
                console.log("provide-data-inject-alias", this.message, this.injectTitle);
                console.log("provide-data-inject-alias", this.global.app, this.global.author);
            },
            template: "#provide-data-inject-alias-template"
        }).component('provide-computed', {
            data() {
                return {
                    message: "hello provide",
                    title: "OMG~!"
                }
            },
            provide() {
                return {
                    message: computed(() => this.message + " - " + this.title)
                }
            },
            template: "#provide-computed-template"
        }).component('provide-computed-inject', {
            inject: ["message"],
            template: "#provide-computed-inject-template"
        }).component('provide-symbol', {
            provide() {
                return {
                    [injectName]: "hello symbol",
                    [injectAge]: 18
                }
            },
            template: "#provide-symbol-template"
        }).component('provide-symbol-inject', {
            inject: {
                name: {
                    from: injectName
                },
                age: {
                    from: injectAge
                }
            },
            template: "#provide-symbol-inject-template"
        }).mount("body");
    </script>
</head>

<template id="provide-hallo-template">
    <provide-hallo-inject/>
</template>

<template id="provide-hallo-inject-template">
    <div>
       这里是注入的消息： {{ message }}
    </div>
</template>

<template id="provide-data-template">
    <provide-data-inject></provide-data-inject>
    <hr/>
    <h4>子组件注入时使用别名</h4>
    <provide-data-inject-alias></provide-data-inject-alias>
</template>

<template id="provide-data-inject-template">
    <div>
        provide-data-inject
        <div>
            provide-data-inject 消息： {{ message }}
        </div>
        <div>
            provide-data-inject titleName： {{ titleName }}
        </div>
    </div>
</template>

<template id="provide-data-inject-alias-template">
    <div>
        provide-data-inject-alias
        <div>
            provide-data-inject-alias 消息： {{ message }}
        </div>
        <div>
            provide-data-inject-alias titleName： {{ injectTitle }}
        </div>
        <div>
            provide-data-inject-alias global： {{ global.app }}
        </div>
        <div>
            provide-data-inject-alias user default： {{ user.name }}-{{ user.age }}
        </div>
    </div>
</template>

<template id="provide-computed-template">
    <div>
        provide-computed
        <div>
            <input type="text" v-model="title">
            <input type="text" v-model="message">
        </div>
    </div>
    <provide-computed-inject></provide-computed-inject>
</template>

<template id="provide-computed-inject-template">
    <div>
        provide-computed-inject
        <div>
            provide-computed-inject 消息： {{ message }}
        </div>
    </div>
</template>

<template id="provide-symbol-template">
    <provide-symbol-inject></provide-symbol-inject>
</template>

<template id="provide-symbol-inject-template">
    <div>
        provide-symbol-inject
        <div>
            provide-symbol-inject 消息： {{ name }}
        </div>
        <div>
            provide-symbol-inject age： {{ age }}
        </div>
    </div>
</template>

<body>
    <h3>简单依赖注入</h3>
    <provide-hallo></provide-hallo>

    <h3>data()依赖注入</h3>
    <provide-data></provide-data>

    <h3>配合响应式</h3>
    <provide-computed></provide-computed>

    <h3>使用Symbol注入名</h3>
    <provide-symbol></provide-symbol>
</body>
</html>